{% extends 'sidebar.html' %}
{% load static %}

{% block main_content %}
    <div class="main-content-outer no-padding-top">
        <div class="main-content-inner">
            <section class="pdb50">
                <div class="container-fluid">
                    <div class="pdt0 clearfix">
                        <h2 class="page-title mb5">
                            Dashboard
                        </h2>
                        <span class="clearfix"></span>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Basic bar chart</h3>
                                <canvas id="myChart" class="bar-chart" height="200px"></canvas>
                            </div>
                            <div class="col-md-6">
                                <h3>Pie chart</h3>
                                <canvas id="pie-chart"></canvas>
                            </div>

                        </div>
                        <div class="row mt15 mb25">
                            <div class="col-md-6">
                                <h3>Horizontal bar chart</h3>
                                <canvas id="bar-chart-horizontal"></canvas>
                            </div>
                            <div class="col-md-6">
                                <h3>Line Chart</h3>
                                <div>
                                    <canvas id="lineChart"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- start main table box -->

                    <!-- end main table box -->
                    <!-- start previous and next button -->
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<!-- Bar Chart js -->
    <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>

<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    // end bar chart js code



    //start pie chart js code
    new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
            labels: ["Red", "Purple", "Yellow", "Light Blue", "Light Green"],
            datasets: [{
                label: "Population (millions)",
                backgroundColor: ["#ff5252", "#9c27b0","#ffee58","#29b6f6","#9ccc65"],
                data: [2478,5267,734,784,433]
            }]
        },
        options: {
            title: {
                display: true,
                text: ''
            }
        }
    });
    // end pie chart js code



    // start Horizontal bar chart
    new Chart(document.getElementById("bar-chart-horizontal"), {
        type: 'horizontalBar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple"],
            datasets: [
                {
                    label: "Population (millions)",
                    backgroundColor: ["#ff5252", "#29b6f6","#ffee58","#9ccc65","#9c27b0"],
                    data: [2478,5267,734,784,433]
                }
            ]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: ''
            }
        }
    });
    //end Horizontal bar chart



    // Start Line Chart js code
    var ctx = document.getElementById('lineChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
            datasets: [{
                label: 'apples',
                data: [12, 19, 3, 17, 6, 3, 7],
                backgroundColor: "rgba(153,255,51,0.6)"
            }, {
                label: 'oranges',
                data: [2, 29, 5, 5, 2, 3, 10],
                backgroundColor: "rgba(255,153,0,0.6)"
            }]
        }
    });
    // Start Line Chart js code

</script>
{% endblock %}
