{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Start Loading -->
    <section class="loading-overlay">
        <div class="Loading-Page">
            <h2 class="loader">
                Loading...
            </h2>
        </div>
    </section>
    <!-- End Loading -->
    <div class="vault-outer-wrapper">
        <div class="login-wrap mt0">
            <div class="login-wrap__left">
                <div class="flex-center c2b-login">
                    <div class="sign-form">
                        <form action="" method="post">{% csrf_token %}
                            <div class="sign-form__header">
                                Login
                            </div>
                            <div class="sign-form__body">
                                <div class="form-group mt30">
                                    <input name="username" class="form-group__input form-control" type="text"
                                           placeholder="username"/>
                                </div>
                                <div class="form-group">
                                    <input name="password" class="form-group__input form-control" type="password"
                                           placeholder="Password"/>
                                </div>
                                <div class="checkbox-wrap mt10">
                                    <input id="ck-1" name="ck-box" value="1" type="checkbox">
                                    <label class="mb15 pdr20" for="ck-1">
                                        Remember Me
                                    </label>
                                    <br>
                                </div>
                                <div class="input-submit pdt10">
                                    <button type="submit" class="btn base-bg btn--small">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="login-wrap__right">
                <h1>CPC<img class="plus" src="{% static 'images/plus.svg' %}" alt="Plus"></h1>
                <h4><img src="{% static 'images/dhaka-bank-big.png' %}" class="clientlogo" alt="Dhaka Bank"></h4>

                <p style="font-size: 18px;">
                    Designed &amp; Developed by <a href="http://venturesolutionsltd.com/" style="color: #0091EA;">Venture
                    Solutions Ltd</a>
                </p>
                <p>
                </p>

            </div>
        </div>

    </div>
{% endblock %}
