@import "variables.scss";
/* -----------------------------------
** Global Css
-------------------------------------*/
body{
    font-family: $open;
    font-size: 14px;
    font-weight: 400;
    //color: $bcolor;
    color: #544e4e;
    background:#fff;
}

ul,ol{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
    font-weight: 400;
    color: $bcolor;
    &:hover,&:focus,&.active{
        text-decoration: none;
        outline: none;
        color:$base;
    }
}
input{
    -webkit-transition:all 0.3s ease 0s;
    -moz-transition:all 0.3s ease 0s;
    -o-transition:all 0.3s ease 0s;
    -ms-transition:all 0.3s ease 0s;
    transition:all 0.3s ease 0s;
}

label {
	font-weight: normal;
  display: inline-flex;
}



input[type="submit"]{
    &:focus{
        outline: 0;
    }
}
textarea.form-control,textarea{
    min-height: 126px;
    padding-top: 14px;
    position: relative;
    padding-left: 20px;

}
.opacity-0{
    opacity: 0;
}

.bg-tr{
    background: transparent;
}
.form-group{
    position: relative;
    margin-bottom: 18px;
    label{
        text-transform: uppercase;
        font-family: $open;
        margin-bottom: 18px;
        font-weight: 500;
    }
}


.checkbox-group{

    label{
        margin-bottom: 10px;
        font-weight: 400;
        text-transform: none;
    }
}
.checkbox-group > div{
    display: flex;
    label{
        padding-left: 4px;
    }
}

/*  Heading Tag
-------------------*/
h1,h2,h3,h4,h5,h6{
    color: $black;
    font-weight:500;
    a{
        color: inherit;
        font-weight: inherit;
    }
}
h1{

}
h2{

}
h3{
    font-size: 16px;

}
h4{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 13px;
}
img{
    max-width: 100%;
}
.img-round{
    border-radius: 3px;
}
.no-margin{
	margin:0 !important;
}
.no-padding{
	padding:0 !important;
}
.home-no-hover{
    &:hover{
      color: #7e7e7e;
    }
}
.no-border{
    border:0 !important;
}
.border{
  border:1px solid #E0E0E0;
}
.border-top{
  border-top:1px solid #E0E0E0;
}
.border-bottom{
  border-bottom:1px solid #E0E0E0;
}
.border-left{
  border-left:1px solid #E0E0E0;
}
.border-right{
  border-right:1px solid #E0E0E0;
}
.fix{
    overflow: hidden;
}
p{
    font-family: $open;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 1.9;
}

.clear{
    clear: both;
}

.base-color{
    color:$base;
}
.cyan-color{
    color: $cyan;
}
.yellow-color{
    color:$yellow;
}
.color-white{
    color:$white !important;
}
.green-color{
    color:$green;
}
.light-gray{
    color: $l-gray;
}
.light-green{
    color: $l-green;
}
.light-red{
    color:$l-red;
}
.body-color{
    color: $bcolor;
}
.black-text{
    color: $black;
}

.white-text{
  color: $white;
  &:hover{
    color: $white;
  }
}
.blue-text{
  color: blue;
}
.red-text{
  color:#ff0000 !important;
}
.large-text{
    font-size: 24px;
}


.base-bg{
    background: $base;
    color: $white;
    h1,h2,h3,h4,h5,h6,a,p,span{
        color: $white;
    }
}
.black-bg{
    background: #262626;
}
.lightred-bg{
    color: $white;
    background: $l-red;
    h1,h2,h3,h4,h5,h6,a,p,span{
        color: $white;
    }
}
.ash-white-bg{
    background: $ash-white;
}

.base-border{
    border-color: $base;
}
.letter-sp-4{
    letter-spacing: 4px;
}
.white-bg{
    background: $white;
    .coache-single-intro{
        border:1px solid $border;
        &:hover{
            border-color: transparent;
        }
    }
}
.dis-flex-important{
    display: flex !important;
}
.cyan-bg{
    background: $cyan;
    color:$white;
    h1,h2,h3,h4,h5,h6,a,p,span{
        color: $white;
    }
    .kal-button{
        &:hover{
            background: $white;
            border-color: $white;
            color: $base;
        }
    }
}

.white-bg-border-box{
    border:1px solid $border;
    background: $white;
    border-radius: 5px;
}
hr{
    border-color: $border;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.dis-inline{
  display: inline-block;
}
.dis-inblock{
    display: inline-block;
}
.dis-flex{
    display: flex;
}
.dis-table{
    display: table;
}
.dis-table-cell{
    display: table-cell;
    float: none;
}
.dis-ingrid{
  display: inline-grid;
}
.border-l-1{
    border-left: 1px solid $border;
}
.justify-content-space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.small-text{
    font-size: 10px;
}
.semi-small-text{
    font-size: 12px;
}
.border-box{
    border:1px solid $border;
    border-radius: 3px;
    padding: 15px;
    background: $light-white;
}
.modal .border-box{
    background: $white;
}
.ash-bg{
    background: #f5f5f5;
}
.space-nowrap{
    white-space: nowrap;
}
.vault-close-icon{
    cursor: pointer;
}

.dashborad-select-box .btn{
    border:2px solid $border;
    background:transparent;
    padding:10px 35px 10px 25px;
    // border-radius: 30px;
    box-shadow: none;
    &:focus{
        box-shadow: none;
        background: transparent !important;
        border-color:$border !important;
        box-shadow: none;
    }
    .filter-option{
        padding-right: 15px;
    }
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: $bcolor;
    background-color: transparent;
    border-color: $base;
    box-shadow: none;
}
  .btn{
    border-radius:0px !important;
  }
.btn.dropdown-toggle.btn-default:hover{
    box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
    color:$bcolor;
}


.icon-circle{
    border:1px solid $border;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    width:32px;
    height: 32px;
    background: transparent;
}
.icon-circle--large{
    width:40px;
    height: 40px;
    line-height: 38px;
    font-size: 20px;
}
.text-bold{
    font-weight: 500;
}
.font-weight-light{
  font-weight: 300 !important;
}
.text-medium{
    font-size: 14px;
}
.text-mute{
    color:rgba(0,0,0,0.30);
}
.no-background{
  background: #fff !important;
  border-radius: 0px !important;
  color: #333 !important;
  border: 1px solid #BDBDBD !important;
  min-width: 0px !important;
  padding:6px 20px !important;
}
.dis-none{
    display: none !important;
}
.medium-width{
  width: 20% !important;
}
.width75{
    width: 75px;
}
.height20{
    height: 20px !important;
}
.hover{
    &:hover{
      color: white;
      background: $base;
    }
}


@media (min-width: 992px) {
    .dis-table-lg{
        display: table;
    }
    .dis-table-cell-lg{
        display: table-cell;
        float: none;
    }
}
@media (min-width: 768px) {
    .dis-flex-md{
        display: flex;
    }
}
@media (max-width: 767px) {
    .modal-dialog{
        max-width: 420px !important;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 480px) {
    .col-xxs-12{
        width: 100%;

    }
    .col-xxs-12.pdr5{
        padding-right: 15px;
    }
    .col-xxs-12.pdl5{
        padding-left: 15px;
    }

}
.fleet-magesess{
  position: fixed;
  max-width: 60%;
  bottom:0;
  right:20px;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?alv7uy');
  src:  url('../fonts/icomoon.eot?alv7uy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?alv7uy') format('truetype'),
    url('../fonts/icomoon.woff?alv7uy') format('woff'),
    url('../fonts/icomoon.svg?alv7uy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon-list-home-setting.eot?ol3esu');
  src:  url('../fonts/icomoon-list-home-setting.eot?ol3esu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-list-home-setting.ttf?ol3esu') format('truetype'),
    url('../fonts/icomoon-list-home-setting.woff?ol3esu') format('woff'),
    url('../fonts/icomoon-list-home-setting.svg?ol3esu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-icommon-"], [class*=" icon-icommon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .icon-icommon-accounting:before {
//   content: "\e900";
// }
// .icon-icommon-billing:before {
//   content: "\e901";
// }
// .icon-icommon-close:before {
//   content: "\e902";
// }
// .icon-icommon-close-light:before {
//   content: "\e903";
// }
// .icon-icommon-distributions:before {
//   content: "\e904";
// }
// .icon-icommon-hotel:before {
//   content: "\e905";
// }
// .icon-icommon-hrm:before {
//   content: "\e906";
// }
// .icon-icommon-search:before {
//   content: "\e907";
// }
//


.icon-icommon-accounting:before {
  content: "\e900";
}
.icon-icommon-billing:before {
  content: "\e901";
}
.icon-icommon-close:before {
  content: "\e902";
}
.icon-icommon-close-light:before {
  content: "\e903";
}
.icon-icommon-distributions:before {
  content: "\e904";
}
.icon-icommon-feedbacksvg1:before {
  content: "\e905";
}
.icon-icommon-hotel:before {
  content: "\e906";
}
.icon-icommon-hrm:before {
  content: "\e907";
}
.icon-icommon-search:before {
  content: "\e908";
}
.icon-icommon-feedbacksvg:before {
  content: "\e909";
}
.icon-icommon-settings:before {
  content: "\e910";
}
.icon-icommon-iconlist:before {
  content: "\e911";
}
.icon-icommon-home:before {
  content: "\e912";
}
