@import "variables.scss";
/* -----------------------------------
** Page Layout
-------------------------------------*/
.header-main-content{
    padding-left: $width1;
    transition: .3s;
    @include breakpoint(max_sm){
        padding-left: 0 !important;
    }
}
.main-content-outer{
    padding-left: $width1;
    transition: .3s;
    // &--large-space{
    //   padding-left: 450px;
    // }
    @include breakpoint(max_sm) {
        padding-left:0;
    }
    &__toggle{
        padding-left: 58px;
        @include breakpoint(max_sm) {
            padding-left:0;
        }
    }

}
.main-content-inner--space{
    padding:0 15px;
    background: $white;
    @include breakpoint(max_md){
        padding:0;
    }
}
