/* -----------------------------------
** Start Padding Space
-------------------------------------*/
.pdt5{
    padding-top: 5px;
}
.pdt10{
    padding-top: 10px;
}
.pdt12{
    padding-top: 12px;
}
.pdt15{
    padding-top: 15px;
}
.pdt17{
    padding-top: 17px;
}
.pdt20{
    padding-top: 20px;
}
.pdt25{
    padding-top: 25px;
}
.pdt30{
    padding-top: 30px;
}
.pdt35{
    padding-top: 35px;
}
.pdt40{
    padding-top: 40px;
}
.pdt45{
    padding-top: 45px;
}
.pdt50{
    padding-top: 50px;
}

.pdb5{
    padding-bottom: 5px;
}
.pdb10{
    padding-bottom: 10px;
}
.pdb12{
    padding-bottom: 12px;
}
.pdb15{
    padding-bottom: 15px;
}
.pdb17{
    padding-bottom: 17px;
}
.pdb20{
    padding-bottom: 20px;
}
.pdb25{
    padding-bottom: 25px;
}
.pdb30{
    padding-bottom: 30px;
}
.pdb35{
    padding-bottom: 35px;
}
.pdb40{
    padding-bottom: 40px;
}
.pdb45{
    padding-bottom: 45px;
}
.pdb50{
    padding-bottom: 50px;
}
.pdb70{
  padding-bottom: 70px;
}
.pdr0{
    padding-right: 0px !important;
}
.pdl0{
    padding-left: 0px !important;
}

.pdl5{
    padding-left: 5px;
}
.pdl10{
    padding-left: 10px;
}
.pdl13{
    padding-left: 13px;
}
.pdl15{
    padding-left: 15px;
}
.pdl20{
    padding-left: 20px;
}
.pdl25{
    padding-left: 25px;
}
.pdl30{
    padding-left: 30px;
}
.pdl-10{
    padding-left: -10px !important;
}


.pdr5{
    padding-right: 5px;
}
.pdr10{
    padding-right: 10px;
}
.pdr15{
    padding-right: 15px;
}
.pdr20{
    padding-right: 20px;
}
.pdr25{
    padding-right: 25px;
}
.pdr30{
    padding-right: 30px;
}


.pdt0{
    padding-top: 0 !important;
}

.pdb0{
    padding-bottom: 0 !important;
}






/* -----------------------------------
** End Padding Space
-------------------------------------*/
/* -----------------------------------
** Start Margin Space
-------------------------------------*/
.mt5{
    margin-top: 5px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt18{
  margin-top: 18px;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.mt35{
    margin-top: 35px;
}
.mt40{
    margin-top: 40px;
}
.mt45{
    margin-top: 45px;
}
.mt50{
    margin-top: 50px;
}
.mt65{
    margin-top: 65px;
}
.mt100{
    margin-top: 100px;
}
.mt80{
    margin-top: 80px;
}
.mt-65{
    margin-top: -65px;
}

.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.mb25{
    margin-bottom: 25px;
}
.mb30{
    margin-bottom: 30px;
}
.mb35{
    margin-bottom: 35px;
}
.mb40{
    margin-bottom: 40px;
}
.mb45{
    margin-bottom: 45px;
}
.mb50{
    margin-bottom: 50px;
}
.mt0{
    margin-top: 0 !important;
}
.mb0{
    margin-bottom: 0 !important;
}

.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}

.ml5{
  margin-left: 5px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.ml20{
    margin-left: 20px;
}
.ml25{
    margin-left: 25px;
}
.ml30{
    margin-left: 30px;
}
.ml35{
  margin-left: 35px;
}
.ml40{
  margin-left: 40px;
}

.mr5{
  margin-right: 5px;
}
.mr10{
    margin-right: 10px;
}
.mr15{
    margin-right: 15px;
}
.mr20{
    margin-right: 20px;
}
.mr25{
    margin-right: 25px;
}
.mr30{
    margin-right: 30px;
}
.mr35{
  margin-right: 35px;
}
.mr40{
  margin-right: 40px;
}
/* -----------------------------------
** End Margin Space
-------------------------------------*/
/* -----------------------------------
** Start font size Space
-------------------------------------*/
.fs12{
  font-size: 12px;
}
.fs13{
  font-size: 13px;
}
.fs14{
  font-size: 14px;
}
.fs15{
  font-size: 15px;
}
.fs16{
  font-size: 16px;
}
.fs17{
  font-size: 17px;
}
.fs18{
  font-size: 18px;
}
.fs19{
  font-size: 19px;
}
.fs20{
  font-size: 20px;
}
.fs21{
  font-size: 21px;
}
.fs22{
  font-size: 22px;
}
.fs23{
  font-size: 23px;
}
.fs24{
  font-size: 24px;
}
.fs25{
  font-size: 25px;
}
.fs30{
  font-size: 30px;
}
.fs35{
  font-size: 35px;
}
.fs40{
  font-size: 40px;
}
.fs45{
  font-size: 45px;
}
.fs50{
  font-size: 50px;
}



/* -----------------------------------
** End Font Size Space
-------------------------------------*/



.max-width-630{
    max-width: 630px;
}
.max-width700{
    max-width: 700px;
}
