$ashcolor: #BDBDBD;
$white:#fff;
$black: #000000;
$bcolor:#7e7e7e;

$base:#0091EA;
$border: #E0E0E0;

$cyan:#437CBF;
$green: #6DC496;

$l-green:#3D8E36;
$red:#D36060;
$l-red:#EF5350;
$yellow:#EAC844;
$gray:#A7A7A7;

$l-gray:rgba(255,255,255, .54);
$light-white: #FBFBFB;
$ash-white:#F4F4F4;


$ash:#fafafa;
$orange:#f39a24;
$lime-green:#82c484;
$beg:#a662ae;


$open:'Poppins', sans-serif;
$rb:'Roboto', sans-serif;



///

$width1 : 90px;
$width2 : 210px;
