/* -----------------------------------
** Bank Form
-------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
input:focus{
    outline: 0;
}


.main-content-outer {
    &.no-padding-top{
        padding-top:  0px;
        .page-title{
            font-size: 16px;
            width: 100%;
            &:after {
                height: 2px;
                left: 0;
                top: 24px;
                width: 150px;
            }
            span{
                border: 1px solid #ddd;
                background: #f6f6f6;
                padding: 1px 2px;
                margin-left: 6px;
                border-radius: 3px;
                color: #0091EA;
                font-size: 18px;
                .fa-file-pdf-o{
                    color: red;
                }
                .fa-eye{
                    color: orange;
                }
            }
        }
        .bank-forms{
            border: 1px solid #eeebeb;
            box-shadow: 1px 1px 5px 0px #f6f6f6;
            border-radius: 3px;
            height: auto;
            padding-bottom: 10px;
            .form-group {
                margin-bottom: 0;
                .form-control{
                    border: 1px solid #e6e6e6;
                }
                input[type=text],input[type=number]{
                    border-radius: 0;
                    height: 25px;
                    box-shadow: none;
                    padding: 0 0 0 5px;
                    &:focus{
                        border: 1px solid  #0091EA;
                    }
                }
                select{
                    border-radius: 0;
                    height: 25px;
                    box-shadow: none;
                    padding: 0 0 0 5px;
                    &:focus{
                        border: 1px solid #0091EA;
                    }
                }
                textarea{
                    border-radius: 0;
                    box-shadow: none;
                    padding: 0 0 0 5px;
                    min-height: 75px;
                    &:focus{
                        border: 1px solid #0091EA;
                    }
                }

            }
            .form-title{
                font-weight: lighter;
                font-size: 13px;
                color: #0091EA;
                position: relative;
                margin: 0;
                padding: 3px 10px;
                top: -11px;
                background: #fefefe;
                display: inline;
                left: 15px;
                border: 1px solid #eee;
                border-radius: 2px;
                &.title-bg{
                    background: #0091EA;
                    color: #fff;
                    border: 1px solid #0091EA;
                    border-radius: 2px;
                }

            }

            .form-group label {
                font-weight: 400;
                margin-bottom: 0;
                font-size: 13px;
            }
            .form-details{
                p{
                    display: block;
                    margin: 0;
                    padding: 0 13px;
                    border-bottom: 1px dashed #f1f1f1;
                    font-size: 13px;
                    font-weight: lighter;
                    color: #807f7f;
                    b{
                        float: right;
                        font-weight:  lighter;
                        color: #0091EA;
                    }
                }

            }


        }
    }
 }

.sidebar-menu{
    .menu-accordion{
        .branding-top{
            background: #fff !important;
            color: #000;
            font-size: 24px;
            font-family: 'Raleway', sans-serif;
            padding: 25px  0;
            img{
                vertical-align: top;
                width: 17px;
            }
        }
    }
    .btm-setting{
        top: auto;
        bottom: 100%;
        position: fixed;
        margin-bottom: 2px;
        font-weight: 700;
        bottom: 0;
        z-index: 1000;
        .btn:hover{
            background: none;
            box-shadow: none;

        }
        .dropdown-menu{
            left: 27px;
            .dropdown-item{
                display: block;
                border-bottom: 1px dashed #efefef;
                font-size: 14px;
                color: #000;
                padding:3px 15px;
                color:  #6d6868;

                &:hover{
                    color: $base;
                    background: #f3f3f3;
                }
             &:last-child{
                 border-bottom: none;
             }
            }
            &:before {
                position: absolute;
                bottom: -7px;
                left: 9px;
                display: inline-block;
                border-right: 7px solid transparent;
                border-top: 7px solid #ccc;
                border-left: 7px solid transparent;
                border-bottom-color: rgba(0, 0, 0, 0.2);
                content: '';
            }

            &:after {
                position: absolute;
                bottom: -6px;
                left: 10px;
                display: inline-block;
                border-right: 6px solid transparent;
                border-top: 6px solid #ffffff;
                border-left: 6px solid transparent;
                content: '';
            }
        }
    }
}

@include breakpoint(max_sm) {
    .outer-wrapper {
        .sidebar {
            width: $width1 + $width2;
            .sidebar-menu{
                overflow: initial;
                .btm-setting {
                    position: relative;
                    .dropdown-menu {
                        position: absolute;
                    }
                }
            }

        }
    }
}

















