/* -----------------------------------
** Button Style
-------------------------------------*/
.btn{
    min-width: 80px;
    display:inline-block;
    padding:5px 15px;  
    border-radius: 100px;
    color: $white;
    text-align: center;
    transition: .3s;
    &:hover{
        color: $white;
        box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    }
    &:focus{
        outline: 0;
        color: $white;
    }
    &--danger{
        //background: $danger;
    }
}
.btn-reset{
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    display: inline-block;
    vertical-align: top;
    outline: 0;
    line-height: 30px;
    padding:0 20px;
    border:1px solid $border;;
    height: 32px;
    min-width: 80px;
    &:hover{
        color: $base;
	    border-color: $base;
    }
}

.btn--border{
    background: transparent;
    border:2px solid $border;
    color: $bcolor;
    padding:8px 20px;
    &:focus{
        color: $bcolor;
    }
    &:hover{
        background: $base;
        box-shadow: none;
        border-color: $base;
    }


}
.btn--large{
    min-width: 220px;
    padding:11px 20px;
}
.btn--medium{
    min-width: 140px;
    padding:7px 25px;
}
.btn--rounded{
  border-radius:30px !important;
}
.btn--fluid{
    display:block;
    width:100%;
}
.btn--with-icon{
    padding:4px 20px;
    .btn__icon{
        font-size: 24px;
        color: $white;
        display: inline-block;
        vertical-align: middle;
    }

}
/* -----------------------------------
** End Button Style
-------------------------------------*/

// all button style
.btn--primary{
  color: #fff;
  background: #2196f3;
  border:1px solid #2196f3;
  text-align: center;
  transition: .3s;
}
.btn--secondary{
  color:$base;
  background: #EEEEEE;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  text-align: center;
  &:hover{
    color: #EEEEEE;
    background: $base;
    border: 1px solid $base;
    text-align: center;
    transition: .3s;
  }
}
.btn--success{
  color: #fff;
  background: #1e9337;
  border: 1px solid #1e9337;
  text-align: center;
  &:hover{
    color: #fff;
    background: #1e9337;
    border: 1px solid #1e9337;
    border-radius: none !important;
    box-shadow: none !important;
    text-align: center;
    transition: .3s;
  }
}
.btn--danger{
  color:#fff;
  background: #ff3547;
  border:1px solid #e91e63;
  text-align: center;
  &:hover{
    color: #fff;
    background: #e91e63;
    border:1px solid #e91e63;
    box-shadow: none !important;
    text-align: center;
    transition: .3s;
  }
}
 
.btn--warning{
  color: #fff;
  background: #ffc107;
  border: 1px solid #ffc107;
  border-radius: 3px;
  text-align: center;
  &:hover{
    color: #000;
    background: #ffc107;
    border:1px solid #ffc107;
    border-radius: 3px;
    box-shadow: none !important;
    text-align: center;
    transition: .3s;
  }
}
.btn--info{
  color:#fff;
  background: #007f8e;
  border-radius: 3px;
  border:1px solid #007f8e;
  text-align: center;
  &:hover{
    color: #007f8e;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #2196f3;
    box-shadow: none !important;
    text-align: center;
    transition: .3s;
  }
}
.btn--dark{
  color: #ddd;
  background: #333;
  border:2px solid #333;
  text-align: center;
  &:hover{
    color:#000;
    background: #ddd;
    border:2px solid #ddd;
    box-shadow: none !important;
    text-align: center;
    transition: .3s;
  }
}
.btn-danger{
    color:#fff;
    background: #ff3547;
    border:1px solid #ff3547;
    text-align: center;
     &:hover,&:focus{
       background: #ff3547;
       border-color: #ff3547;
     }
}
.btn-warning{
    color:#fff;
    background: #f80;
    border:1px solid #f80;
    text-align: center;
     &:hover,&:focus{
       background: #f80;
       border-color: #f80;
     }
}
.btn-info{
    color:#fff;
    background: #33b5e5;
    border:1px solid #33b5e5;
    text-align: center;
     &:hover,&:focus{
       background: #33b5e5;
       border-color: #33b5e5;
     }
} 
.btn-primary{
    color:#fff;
    background: #4285f4;
    border:1px solid #4285f4;
    text-align: center;
     &:hover,&:focus{
       background: #4285f4; 
       border-color: #4285f4;
     }
}  
.btn-default{
     color:#666;
      &:hover,&:focus{
        color:#666;
     }
}
  
