.modal-content{
     .modal-footer{
         padding: 10px 25px;
     }
}
.main-content-outer{
  .bank-forms{
      textarea{
        min-height:50px !important;
      }
      .read-only-fields{
      .form-group{
      margin-bottom:5px;
          label{
              color: #727171;
           }
           span{
            &.lbl-1{
             min-width:128px;
           }
          }
      }
      }
    &.dynamic-table{
      .table-responsive{
        margin: 0 15px ;
        table{
          margin-bottom: 10px;
          thead{
           th{
             font-size: 13px;
           }
          }
          tbody{
            tr{
              td{
                input{
                  height: 25px;
                  border-radius: 0;
                  padding-left: 3px;
                  border: 1px solid #f1f1f1;
                  box-shadow: none;
                  font-size: 13px;
                  &:focus{
                    box-shadow: none;
                    border: 1px solid $base;
                  }
                }
                .deletebox{
                  border: none;
                  height: 24px;
                  width: auto;
                }
              }

            }
          }
        }
        button{
          &.btn{
            &:focus{
              color: $base;
              border: 1px solid $base;
            }
          }

        }

      }
    }

  }
   .page-title {
       width: auto !important;
     float: left;
       &:after{
         width: 100% !important;
       }
 }
  .inward-serial{
    font-size:16px;
    b{
      background:$base;
      color: #fff;
      padding: 5px 12px;
      border-radius: 3px;
    }
  }
 .custom-search-panel{
   padding: 18px  20px 0px 20px;
   background:  #fff;
 }
 .ajax-loader{
    width: 76%;
    position: absolute;
    text-align: center;
    height: 100%;
    z-index: 10;
    display:none;

  img{
      width:100px;
      position: relative;
      top:200px;
  }
 }
  .wi140{
    width: 140px;
    @include breakpoint(max_sm){
      width: 100%;
      display: block;
      float: left;
      margin-bottom: 5px;
    }
  }

}
.listing-table {
  border: 1px solid #F3EFEF;
}

//login  page custom css
.login-wrap{
  .plus{
    vertical-align: top;
    width: 67px;
  }
  .clientlogo{
    max-width: 370px;
    margin-bottom: 30px;
  }
}


