//  _distribution

.p-hidden select,.p-hidden ul,.p-hidden .select2-dropdown{
    visibility: hidden;
    border:  1px solid red;
    transition-delay: 1s, 250ms;
}
.p-hidden select{
    height: 35px;
}
