.company{
  &__logo{
      float: left;
      border: 3px solid #eee;
      padding: 80px 80px;
      margin-right: 20px;
  }
  &__icon{
    align-items: center;
    border:3px solid #eee;
    padding:10px;
  }
  &__address{ 
    padding-bottom: 30px;
    h4{
      font-size: 22px;
    }
    p{
      line-height: .553;
    }
    }
}


//erp-company-edit scss
.upload-company{
  &__logo{
    float: left;
    border: 3px solid #eee;
    padding: 100px 114px;
    margin-right: 20px;
  }
  &__icon{
    align-items: center;
    border:3px solid #eee;
    padding:10px;
  }
}
.section-title{
  display: flex;
}

//erp-company-edit-logo scss

.upload-photo-section{
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
}

//erp tools scss
.small-width--fixed{
  width: 155px !important;
}
.form-group__label-min-width180{
  min-width: 180px !important;
}

.width-auto{
  width: auto !important;
}

//erp module scss
.padl30{
  padding-left: 30px !important;
}

//erp status scss
.border-left-base{
  border-left:5px solid $base;
}
.collapse-status-body{
  margin-top: 10px;
  .card-body{
    padding: 10px 10px 30px 20px;
    h6{}
    p{
      margin-bottom: 0px;
    }
  }
}
.erp-status-table{
  td:first-child{
    width: 33%;
    max-width: 33%;
  }
  td{
    &:nth-child(2){
      width:67%;
    }

  }
}
.dis-flex-wrap--fullwidth{
  display: flex;
  flex-wrap: wrap;
  input{
    width: 70% !important;
  }
  p{
    margin-left:180px;
  }
}
.input-width70{
  width: 70% !important;
}
