/* -----------------------------------
** fdd
-------------------------------------*/
 .area-fdd{
     padding: 30px  30px 0px 30px;
     position: relative;
     .rotate-info{
         font-weight: bolder;
         position: fixed;
         top: 109px;
         /* Safari */
         -webkit-transform: rotate(-43deg);
         /* Firefox */
         -moz-transform: rotate(-43deg);
         /* IE */
         -ms-transform: rotate(-43deg);
         /* Opera */
         -o-transform: rotate(-43deg);
     }
     table{
         &.no-border{
             tr{
                 border: none;
                 td{
                     border: none;
                     .underline{
                         border-bottom: 1px solid;
                     }
                     span{
                         color: red;
                         @media print {
                                 color: red !important;
                         }

                     }

                     &.pdl50{
                         padding-left: 50px;
                     }
                 }
             }
         }
         &.informration-table{
           tr{
               td{
                   padding: 3px 5px;
               }
           }
         }
     }

 }

