/* -----------------------------------
** Form Element
-------------------------------------*/
input:focus{
    outline: 0;
}
.form-group{
    display: block;
    @include breakpoint(max_md){
        margin-bottom: 10px;
    }
    ::-webkit-input-placeholder,::-moz-placeholder,:-ms-input-placeholder { /* Chrome/Opera/Safari */
      color: #ddd;
      opacity: .7;
    }
    .form-control{
        float: none;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      // color: $gray;
      // opacity: .7;
    }
    :-ms-input-placeholder { /* IE 10+ */
      // color: $gray;
      // opacity: .7;
    }
    label{
        margin-bottom: 5px;
        text-transform: none;
    }
    &__label{
        color: $black;
        font-size: 14px;
        margin-top: 5px;
    }
    &__input{
        height: 34px;
        box-shadow: none;
        padding-left: 8px;
        border-radius: 0;
        padding-right: 10px;
        border:1px solid $border;
        &:focus{
            box-shadow: none;
            outline: 0;
        }
    }
    &--left-label{
        display: flex;
        // align-items: center;
        width: 100%;
        .form-group__label{
            padding-right: 15px;

            width: 180px;
        }
        .form-group__input{
            height: 35px;
        }
        .form-group__icon{
            height: 35px;
            line-height: 35px;
        }
        .form-group__icon-wrap{
            width: calc(100% - 180px);
        }
        &>.form-group__input{
            width: calc(100% - 180px);
        }
        textarea.form-control, textarea{
            padding:10px;
        }

    }
    .form-group__input.textarea-small{
        min-height: 80px;
        height: 80px;
    }
    &--small{
        .form-group__input{
            height: 35px;
        }
        .form-group__icon{
            height: 35px;
            line-height: 35px;
        }
        .select2-container{
            width:100% !important;
        }
        .select2-container .select2-selection--single{
            border-radius: 5px;
            border: 1px solid $border;
            border-radius: 4px;
            box-shadow: none;
            height: 35px;

        }
        .select2-container--default .select2-selection--single .select2-selection__rendered{
            line-height: 35px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow{
            height: 33px;
        }
    }
    &--border-bottom{
        .input-group__input{
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: $border;
            padding-left: 0;
            max-width: 100%;
            width:100%;
            background: transparent;
            font-size: 15px;
            &:focus{
                border-color: $base;
            }
            // &:focus{
            //     border-color: $base;
            // }
        }
        .input-group__label{
            //margin-bottom: -7px;
            //margin-top: 20px;
            font-size: 18px;
        }
        .select2-container .select2-selection--single{
            border-width: 0 0 1px 0;
            background: transparent;
        }
        .input-group__select-wrap{
            .dashborad-select-box {
                width:100% !important;
                // overflow-x: hidden;
                .filter-option{
                    text-overflow: ellipsis;
                }
                .dropdown-menu > li > a {
                	padding: 3px 10px;
                	font-weight: 300;
                	color: $bcolor;
                }
                .text{
                    white-space: normal;
                    font-size: 13px;
                    padding-bottom: 6px;
                }
                .btn {
                	// border: 2px solid #E0E0E0;
                  border-width: 0 0 1px 0;
                	background: transparent;
                	padding: 10px 0 10px 0;
                	border-radius: 0;
                  width:100%;
                	box-shadow: none;
                }
            }
            .dropdown-toggle .caret {
            	right: 29px !important;
            }
            .dropdown-menu{
                min-width: 160px !important;
                border:0;
                padding:0;
                margin:-1px 0 0 0 ;
            }
        }
    }
    &__icon-wrap{
      position: relative;
      .form-group__input{
        padding-left: 40px;
      }
    }
    &__icon{
      position: absolute;
      top:0;
      left:0;
      line-height: 34px;
      width:34px;
      display: inline-block;
      text-align: center;

    }
    &--border-bottom{
      .form-group__input{
        border-width: 0 0 1px 0;
      }
      .form-group__icon{
        left:0;
        text-align: left;
      }
      .form-group__icon-wrap{
        .form-group__input{
          padding-left: 25px;
        }
      }
    }
    &--border-left{
      .form-group__input{
        border-left: 4px solid $base;
      }
    }
    &--border-radius{
      .form-group__input{
        border-radius: 20px;
        padding-left: 20px;
      }
    }
}
.require-field{
    color: red;
    padding-left: 5px;
}
.input-submit{
  font-size: 15px;
}
// .select2-container .select2-selection--single{
//     height: 40px;
//     border-radius: 0;
//     border:1px solid $border;
// }
// .select2-container .select2-selection--single .select2-selection__rendered{
//     line-height: 40px;
// }
// .select2-container--default .select2-selection--single .select2-selection__arrow{
//     height: 38px;
// }
.select2{
    &:focus{
        outline: none;
    }
    *{
        &:focus{
            outline: none;
        }
    }
}
.daterangepicker .ranges{
    float: none !important;
}
.calendar-time select{
    background: $white;
    border-color: $border;
}
.btn-success.focus, .btn-success:focus,.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #449d44;
}
.ranges{
    .btn-default{
        background: #d9534f;
        border-color: #d9534f;
    }
    .btn-default.focus, .btn-default:focus{
        background: #d9534f;
        border-color: #d9534f;
    }
}

.file-import{
    &__input{
        display: none !important;
    }
    &__label{
        display: block;
        border:1px dashed #979797;
        padding:0;
        opacity: 0.54;
        border-radius: 5px;
        font-size: 15px;
    }
    &__import-icon{
        font-size: 30px;
        display: inline-block;
        vertical-align: middle;
    }
}
.dashborad-select-box{
    .btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default{
        background: transparent;
        border-color:$border;
    }
    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover{
        background: transparent;
        border-color:$border;
        box-shadow: none;
    }
    .btn-group.open .dropdown-toggle {
    	box-shadow: none;
    }
}
.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default:hover{
    border-color: $border;
    background: transparent;
    box-shadow: none;
    color:$bcolor;
}
.bootstrap-select.btn-group .dropdown-menu{
    box-shadow: 3px 5px 10px 0 rgba(0,0,0,0.15);
    border:1px solid $border;
    padding:5px 0;
    min-width: 280px;
    li{
        padding:1px 0;

    }
}
.dashborad-select-box .caret {
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: $bcolor;
	padding: 3px;
     transform: rotate(45deg);
}
.dashborad-select-box .bs-caret{
    display: inline-block;
    position: relative;
    top: -8px;
    right: -20px;
}
.dashborad-select-box--small.bootstrap-select.btn-group{
    .dropdown-menu {
    	min-width: 180px;
    }
}

/* Radio button style */
.colorfull-radio-button-wrap {
    input[type="radio"] {
    	display: none !important;
    }
    label {
    	position: relative;
    	font-weight:300;
        padding-left: 20px;
        z-index: 5;
          padding-right: 10px;
        &:before {
        	position: absolute;
        	left: 0px;
        	top: 4px;
        	width: 13px;
        	height: 13px;
        	border: 1px solid $border;
        	-webkit-border-radius: 100%;
        	border-radius: 100%;
        	content: '';
        	background: #fff;
        }
    }
    input[type="radio"]:checked + label::before {
    	border-width: 4px;
        border-color: #56ABF1;
    }
}
.checkbox-wrap{
  input[type="checkbox"] {
    display: none !important;
  }
  label {
    position: relative;
    font-weight:300;
      padding-left: 20px;
      z-index: 5;
      transition: .3s;
      padding-right: 10px;
      padding-top: 2px;
      &:before {
        position: absolute;
        left: 0px;
        top: 4px;
        width: 15px;
        height: 15px;
        border: 1px solid $border;
        border-radius: 0;
        content: '';
        background: #fff;
        transition: .3s;
      }
      &:after{
        transform: rotate(40deg);
        transition: .3s;
        content: "\f00c";
        font-family: 'FontAwesome';
        position: absolute;
        top:4px;
        font-size: 11px;
        color: $white;
        left:2px;
        opacity: 0;
      }
  }
  input[type="checkbox"]:checked + label::before {
    border-width: 4px;
      border-color: #56ABF1;
      background: #56ABF1;
  }
  input[type="checkbox"]:checked + label::after {
      transform: rotate(0deg);
      opacity: 1;
  }
}
.radiobutton-inline{
  label{
  //  padding-right: 10px;
  }
}
.tab-style-radio{
    input[type="radio"] {
    	display: none !important;
    }
    label {
    	position: relative;
    	font-weight:300;
        z-index: 5;
        border-radius: 15px;
        padding:5px 16px;
        margin:0;
    }
    input[type="radio"]:checked + label {
    	background: $gray;
        color:$white;
    }
}
/* Checkbox style */
.checkbox-item {
    padding-bottom: 15px;
    &__label{
        position: relative;
        font-weight:300;
        z-index: 5;
        padding-left: 20px;
        z-index: 5;
        &:before{
            position: absolute;
        	left: 0px;
        	top: 4px;
        	width: 13px;
        	height: 13px;
        	border: 1px solid $border;
        	-webkit-border-radius: 2px;
        	content: '';
        	background: #fff;
        }
    }
	&__input{
        display: none;
    }
    &__input:checked + label::before {
    	background: transparent;
        border-color: transparent;
        content:"\f14a";
        color: $base;
        font-family: 'FontAwesome';
        top:0;
    }
}
.input-group--no-border{
    .input-group__input{
        border:0;
        height: 44px;
        padding:0;
        width:100%;
        white-space: normal;
        background: transparent;
    }
    .datepicker-time-input{
        max-width: 70px;
    }
    textarea{
        -webkit-appearance:none;
        appearance:none;
        min-height: 80px;
        height: auto;
        resize:none
    }
    .dashborad-select-box{
        border:0;
        .btn{
            border:0;
            border-radius: 0;
            text-align: left;
            &:hover,&:focus{
                box-shadow: none;
                background: transparent;
            }
        }
    }
}
.datepicker-time-input + .bootstrap-datetimepicker-widget{
    padding-left: 25px;
    overflow-x: hidden;
    .btn{
        background: transparent;
        color: $base;
        border:0;
        min-width: auto;
        padding:0;
        &:hover{
            box-shadow: none;
            border:0;
            background: transparent;
            color: $base;
        }
    }
}

//contact us scss code

.form-group{
  &--without-label{
    .form-group__input{
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
    }
  }
}
.contact-form{
  h3{
    text-align: center;
    background: $base;
    padding: 20px 0px;
  }
}
.contact-button{
  border:0px;
  border-radius: 0px;
  &:hover{
    background: #0091C4;
  }
}

/* -----------------------------------
** End Form Element
-------------------------------------*/

/* -----------------------------------
** Start second Form Element
-------------------------------------*/
.main-content-outer-form{
  .main-content-inner-form{
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0px 0px 30px 30px;
    padding: 30px 20px;

  }
}
// .input-group{
//   display: inline-flex;
//   border:1px solid rgba(0,0,0,0.1);
//   .input-group-prepend{
//     display: flex;
//     margin-right: -1px;
//     span{
//         background: rgba(0,0,0,0.1);
//         border-right: 1px solid rgba(0,0,0,0.1);
//         padding: 10px 10px;
//     }
//   }
//   .custom-file{
//     display: inline-flex;
//     align-items: center;
//     flex: 1 1 auto;
//     width: 1%;
//     margin-bottom: 0;
//     &__input{
//       position: relative;
//       z-index: 2;
//       width: 100%;
//       height: calc(2.25rem + 2px);
//       margin: 0;
//       opacity: 0;
//     }
//     &__label{
//         background: rgba(0,0,0,0.1);
//         margin-bottom: 0px;
//         border-left: 1px solid rgba(0,0,0,0.1);
//         padding:10px 10px;
//     }
//   }
// }
.daterangepicker td.active, .daterangepicker td.active:hover{
  background: $base;
}

.form-group--select-width100{
  .select2{
    width: 100% !important;
  }
}
.select2-container--default .select2-selection--single{
  border-color: $border;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 35px;
}
.select2-container .select2-selection--single{
  height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 32px;
}

/* -----------------------------------
** Start color picker
-------------------------------------*/
#colorPicker1{
    width:          450px;
    height:         30px;
    position: relative;
    clear: both;
    margin: 50px auto 40px;
    .track {
        background:     url(../images/text-color.png) !important;
        height:         150px;
        width:          150px;
        padding:        10px;
        position:       absolute;
        cursor:         crosshair;
        float:          left;
        left:           -30px;
        top:            -65px;
        background-image: block !important;
        display:        none;
        z-index:        10;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border-radius: 150px;

    }
    .color {
        width: 85px;
        height: 25px;
        line-height: 23px;
        text-decoration: none;
        padding: 1px;
        border: 1px solid #ccc;
        display: block;
        position: relative;
        z-index: 11;
        color: #666;
        background-color: #EFEFEF;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        border-radius: 27px;
        cursor: pointer;
        padding: 0 0 0 10px;
        .colorInner {
            width:          25px;
            height:         25px;
            float: right;
            -webkit-border-radius: 27px;
            -moz-border-radius: 27px;
            border-radius: 27px;
            border-left: 3px solid #ccc;
        }
    }

    .dropdown {
        list-style: none;
        display: none;
        width: 27px;
        position: absolute;
        top: 28px;
        border: 1px solid #ccc;
        left: 0;
        z-index: 1000;
    }
    .dropdown {
        li{
            height: 25px;
            cursor: pointer;
        }
    }
}

/* -----------------------------------
** end color picker
-------------------------------------*/
