.mobile-header{
    background: #313439;
    color: $white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
// .header-area{
//   .dropdown-menu {
//     font-size: 17px;
//     position: absolute;
//     transition: .4s;
//     opacity: 1;
//   }
// }
.header-area{
    &.hide-header{
        display: none;
    }
  .navbar-nav>li>a{
    margin-bottom: 20px;
  }
}
.header-area__list-dropdown{
  display: none;
  width: 320px;
  //border:1px solid rgba(0, 0, 0, 0.1);
  padding:15px 0;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06);
  li{
    padding: 5px 15px;
    display: inline-flex;
    //border-bottom: 1px solid $border;
  }
  li:hover{
    color:#fff;
    background: #1976D2;
    a{
      color:$white;
    }
  }
  &__login{
    margin-top:5px;
    text-align: left;
    width: 135px;
    li{
      padding: 5px 10px;
      font-size: 17px;
      display: inline;
    }
  }
}
// .navbar-sm{
//     @include breakpoint(max_sm){
//       margin-top: -50px !important;
//     }
// }
.header-area{
  &:before{
    // content: '';
    // position: absolute;
    // height: 85px;
    // width: 100%;

  }
  &__logo{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 24px;
    display: inline-block;
    padding-top: 32px;
  }
  &__list{
    width: 130px;
    padding-top: 15px;
    font-size: 18px;
    a{
        display: inline-block !important;
        cursor: pointer;
    }
    &__edit{
      width: 130px;
      text-align: center;
    }
    &__edit:hover{
      background-size: 60px 60px !important;
    }
  }
  &__list-profile{
    width: 50px;
    a{
        padding: 0 !important;
        margin-top: 15px;
    }
  }
  &__login-photo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

//start second header area seciton
.second-header-area{
  background: #fafafa;
  z-index: 99;
  &__logo{
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 24px;
    display: inline-block;
    padding-top: 19px;
  }
&__icon{
  font-size: 25px;
}
&__icon-dropdown{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);
}
}
.header-title-description{
  margin-top: 15px;
  margin-left: 180px;
  &__title-dropdown{
    margin-left: 190px;
    margin-top: 0px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.20);
  }
  span{
    cursor: pointer;
    margin-left: 10px;
  }
}
//
// .header-area{
//     .header-main-content{
//         padding-left: $width1;
//         transition: .3s;
//         @include breakpoint(max_sm){
//             padding-left: 0;
//         }
//     }
// }
// .outer-wrapper-dropdown-active{
//     .header-area .header-main-content{
//         padding-left: 285px;
//     }
// }
.header-actions{
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
    align-items: center;
    .header-icon{
        padding: 7px 10px;
        &>a{
            font-size: 21px;
            cursor: pointer;
            color: #929ba0;
            &:hover{
                color: $black;
            }
        }
        .dropdown-menu{
            left: initial;
            right: -10px;
        }
    }
}
.header-area{
    position: fixed;
    padding-top: 0;
    top:0;
    left:0;
    width: 100%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.06);
    z-index: 8;
}
.main-content-outer{
    padding-top: 60px;
}
.header-dropdown{
    .dropdown-menu{
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        border:0;
        padding: 10px 15px;
        min-width: 217px;
        background: $white;
        z-index: 3;
        border-radius: 0;
        a{
            display: block;
            border-bottom: 1px solid $border;
            padding:7px 0;

            &:last-child{
                border-bottom: 0;
            }
        }
        .btn{
            padding-top: 5px;
            padding-bottom: 8px;
        }
    }
    .profile-avater{
        max-width: 50px;

    }
}

// .header-user-info{
//     position: absolute;
//     width: 220px;
//     right: 0;
//     box-shadow: 0 0 4px rgba(0,0,0,0.07);
//     top:100%;
//     text-align: left;
//     padding: 10px 15px;
//     background: $white;
//     &>span{
//         display: block;
//     }
//
// }
.header-user-profile-wrap{
    .dropdown-menu{
        position: absolute;
        right: 0;
        left: auto;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: 10px;
        border-top-width: 0;
        width: auto;
        min-width: 250px;
    }

    .dropdown-menu.scale-up {
        box-shadow: 0 3px 12px rgba(0, 0, 0, .09);
        border-color: rgba(120, 130, 140, .13);
        display: inline-block;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        -webkit-transform: scale(0);
        transform: scale(0);
        transform-origin: right 0;
    }
    .open .dropdown-menu.scale-up {
        transform: scale(1);
        -webkit-transform: scale(1);
        transform-origin: left 0;
        -webkit-transform-origin: left 0;
    }
    .user-header{

        padding-bottom: 10px;
        display: flex;
        align-items: center;
        background-color: #fff;
        img{
            width:50px;
            height: 50px;

        }

        &>.name-email{
            z-index: 5;
            padding-left: 10px;
            color: #666;
            line-height: 1.3;
            margin-top: 0px;
            text-align: left;
            // padding-left: 100px;
        }
    }
    .user-body{
        padding: 10px 0;
        border-bottom: 1px solid #f4f4f4;
        border-top: 1px solid #ddd;
        a {
            color: #666 ;
            display: block;
            padding: 6px 0;
            font-weight: 400;
            border:0 !important;
            &:hover{
                background: transparent;
                color: $black;
            }
        }
    }
    .user-footer {
        padding: 10px 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .btn{
            border-radius: 20px !important;
            border:0;
            //display: inline-block;
            color: $white;
            &:hover{
                color: #e91e63 !important;
            }
        }
    }
}

.header-compay-name-dropdown{
    @include breakpoint(max_md){
        padding-left: 30px;
    }
}







//
