.all-dashboard{
    nav{
        ul{
            display: flex;
            li{
                margin-right: 30px;
                a{
                    font-size: 20px;
                    &:hover{
                        color: $black;
                    }
                    &:focus{
                        color: $black;
                    }
                }
            }

        }
    }
}
.active-menu{
    color: $black;
    padding-bottom: 1px;
    border-bottom: 3px solid $base;
}

.dashboard-pie-chart{
    height: 165px;
    .label-flex{
        display: flex;
        p{
            margin-left: 5px;
        }
    }

    .label-red-color{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #ff5252;
        margin-top: 4px;
        margin-left: 15px;
    }
    .label-green-color{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #9ccc65;
        margin-top: 4px;
        margin-left: 15px;
    }
    .chartjs-render-monitor{
        margin-top: -15px;
        margin-left: -40px;
        margin-bottom: 0px;
        width: 270px !important;
        height: 120px !important;
        labels{
            font-size: 12px;
        }
    }
}
