/* -----------------------------------
** Journal
-------------------------------------*/
.erp-entry-table{
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        padding:5px 5px;
    }
    tr{
        td{
            &:nth-child(1){
                width:25%;
            }
            &:nth-child(2){
                width:34%;
            }
        }
    }
    .select2-container .select2-selection--single{
        border-radius: 5px;
        border: 1px solid #CCC;
        border-radius: 4px;
        box-shadow: none;
    }
    .form-control{
        height: 28px;
        border-radius: 5px;
        box-shadow: none;
        padding: 3px 5px;
    }
    .select2-container{
        width:100% !important;
    }
}
.erp-file-input{
    border: 1px dashed $border;
    display: block;
    input[type="file"]{
        display: none;
    }
    &__text{
        text-align: center;
        padding:10px 15px;
        label{
            color: $base;
            margin: 0;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.receive-payment-table{
    tr{
        td{
            &:nth-child(1){
                width:auto;
            }
            &:nth-child(2){
                width:auto;
            }
            &.quantity{
                width:80px;
            }
            &.unitprice{
                width:100px;
            }
            &.discount{
                width: 100px;
            }
            &.taxamount{
                width:100px;
            }
            &.amount{
                width:100px;
            }
            &.delete{
                width:60px;
            }
        }
    }
}
@media (min-width: 1024px){
    .modal-dialog {
        margin: 30px auto;
    }
}
.height-full-modal{
    .modal-body{
        height: calc(100vh - 180px);
        overflow: auto;
    }

}

/* -----------------------------------
** End Journal
-------------------------------------*/
