.c2b-login{
    height: 100vh;
    display: flex;
    align-items: center;
    width:100%;
    padding:0 15px;
    @include breakpoint(max_md){
        height: auto;
        display: block;
        margin-top: 30px;
    }
}
.sign-form{
    box-shadow: 0 2px 30px rgba(0,0,0,0.1);
    display: block;
    width:100%;
    margin-bottom:30px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    &__header{
        background: $base;
        color: $white;
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        padding: 12px 15px;

    }
    &__body{
        padding:0 25px 20px 25px;
    }
}
.login-wrap{
    display: flex;
    width: 100%;
    margin-top: 60px;
    @include breakpoint(max_md){
      margin-top: 0px;
      align-items: center;
      justify-content: center;
    }
    @include breakpoint(max_xs){
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
    &__left{
        width: 40%;
        @include breakpoint(max_md){
          // margin-top: 60px;
        }
        .flex-center{
          @include breakpoint(max_xs){
            margin-top: 0px;

          }
        }
        @include breakpoint(max_xs){
          width: 100%;

        }
    }
    &__right{
      height: 100vh;
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1{
        color: $base;
        font-size: 100px;
        font-weight: 100;
        font-family: $open;
      }
      p{
        font-size: 30px;
        font-family: $open;
      }
        @include breakpoint(max_md){
          // width: 100%;
          // display: block;
        }
        @include breakpoint(max_xs){
          width: 100%;
          height: auto;
        }

    }
}
