/* -----------------------------------
** Notification
-------------------------------------*/
.notification-item{
    padding:25px;
    display: flex;
    width:100%;
    align-items: center;
    border-bottom: 1px solid $border;
    &:first-child{
        border-radius: 5px 5px 0 0;
    }
    &__image{
        width:40px;
        img{
            min-width:40px;
        }
    }
    &__text-content{
        padding-left: 20px;
        strong{
            font-weight: 600;
        }
    }
    &__actions{
        margin-left: auto;
        opacity: 0;
        transition: .3s;
        padding-left: 10px;
    }
    &__icon{
        font-size: 30px;
        display: inline-block;
        cursor: pointer;
    }
    &--not-show{
        background: #F4F4F4;
    }
    &:hover{
        .notification-item__actions{
            opacity: 1;
        }
    }
    @include breakpoint(max_md){
        padding:20px 10px;
    }
}
/* -----------------------------------
** End Notification
-------------------------------------*/



.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
