.page-title{
    font-size: 20px;
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
    &:after{
        position: absolute;
        bottom:0;
        content: '';
        background: $base;
        width: 100%;
        height: 3px;
        left:0;
    }
}
