/* -----------------------------------
** Sidebar
-------------------------------------*/

.sidebar {
    background:  #f4f4f4;
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.2);
    &:before{
        background: #f4f4f4;
    }
    &__humbarger{
        background-color: #f4f4f4;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
        span{
            color:#666;
        }
    }
    .angle-show {
        i{
            background: #f4f4f4;
            color: #666;
        }
    }
}
.outer-wrapper-dropdown-active{
    .sidebar{
        .sidebar-menu ul .dropdown{
            ul{
                &:not(:last-child){
                    border-bottom: 1px solid #232323;
                }
            }
        }
        .angle-show {
            i{
                background: #f4f4f4;
                color: #000;
            }
        }
    }
}

.sidebar-menu ul .dropdown {
    background:  #fefdfd;
    li{
        a{
            color: #666;
            .dropdown-menu-icon{
                background: $base;
                color: $white;
            }
            &.active{
                background: transparent;
            }
            &.heading{
                background: #f4f4f4;
                color: $black;
            }
            &:hover,&.active{
                color: $black;
                .dropdown-menu-icon{
                    background: $white;
                    color: $base;
                }
            }

        }
    }
}
.sidebar-menu {
    li{
        a{
            color:#666;
            &:hover,&:focus{
                color:$base;
                background: transparent;
                .sidebar-menu__icon{
                    color: $base;
                }
            }
            &.active{
                background:$base;
                color:$white;
                &:hover{
                    background: $base;
                }
                .sidebar-menu__icon{
                    color: $white;
                }
            }
        }
    }
    &__icon{
        color:#666;
    }
}

.user-profile {
    &__avater {
        border: 2px solid #fff;
    }
}
/* -----------------------------------
** End Sidebar
-------------------------------------*/






