/* -----------------------------------
** Sidebar
-------------------------------------*/

.sidebar {
    background: #292F38;
    // color: #fff;
    box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.2);
    width: $width1;
    top: 0;
    position: fixed;
    height: 100%;
    z-index: 10;
    height: 100vh;
    transition: .3s;
    &:before{
      position: absolute;
      left: 0;
      top:0;
      width:$width1;
      content: '';
      background: #2D3842;
      height: 100vh;
      min-height: 100vh;
    }
    &.hide-sidebar{
      display: none;
    }
    &__inner{
        height: 100vh;
        overflow-y: auto;
        overflow-x:hidden;
    }
    @include breakpoint(max_md) {
         left:- ($width1+$width2);
    }
    .tv-short{
        display: none;
    }
    &__humbarger{
      	height: 39px;
      	width: 35px;
      	border-radius:0 5px 5px 0;
        // border:1px solid #313131;
      	background-color: #fff;
        position: absolute;
        left:100%;
        z-index: 10;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        top:10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
        @include breakpoint(max_sm) {
            top:5px;
        }
        @media(min-width: 992px){
            display: none;
        }
        span{
            display: block;
            width:18px;
            background: #333;
            height: 2px;
            margin:2px 0;
            color:#333;
            transition: 0;
            font-weight: 700;

        }
    }
    &__toggle{
        .sidebar__humbarger span{
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(1){
                transform: rotate(45deg);
                position: relative;
                top: 6px;
            }
            &:nth-child(3){
                transform: rotate(-45deg);
                position: relative;
                top: -6px;
            }
        }
        @include breakpoint(max_md) {
            left:0;
        }
        @include breakpoint(min_md) {
            // width:58px;

            .user-profile__name,.user-profile__designation{
                margin: 0;
                height: 0;
                opacity: 0;
                color:#000 !important;
            }
            .tv-large{
                display: none !important;
            }
            .tv-short{
                display: block !important;
            }
            .menu-accordion{
                .menu-text{
                    display: none;
                }
            }
            .has-submenu{
                &:after{
                    display: none;
                }
            }
            .sidebar-menu__title {
                padding-left: 8px;
            }
            .user-profile__avater{
                max-width: 45px;
            }
            .user-profile{
                margin-top: 65px;
            }
            .sidebar-menu{
                padding-top: 0;
            }
        }
        @include breakpoint(max_sm) {
            left:0px;
        }
        .sidebar-menu ul .dropdown {
            @include breakpoint(max_sm) {
                left:$width1;
            }
        }
    }
    .angle-show {
        i{
            position: fixed;
            animation-duration: 4s;
            bottom: 15px;
            background: #292F38;
            padding: 5px;
            font-size: 19px;
            z-index:2;
            border-radius: 0 3px 3px 0px;
            color: #fff;
            &.fa-angle-double-right{
                left: 90px;
            }
            &.fa-angle-double-left{
                left: 90px;
            }
        }

    }
}
.outer-wrapper-dropdown-active{
    .sidebar{
        width:$width1 + $width2;
        .sidebar-menu ul .dropdown{
            &.menu-show{
                display: block;
                padding-left: 10px;
                padding-right: 10px;
                width: $width2;
            }
            ul{
                &:not(:last-child){
                    border-bottom: 1px solid #232323;
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                }
            }
        }
        .angle-show i.fa-angle-double-right {
            left: 300px;
        }
        .angle-show {
            i{
                position: fixed;
                animation-duration: 4s;
                bottom: 15px;
                background: #292F38;
                padding: 5px;
                font-size: 19px;
                z-index:2;
                border-radius: 0 3px 3px 0px;
                color: #fff;
                &.fa-angle-double-right{
                    left: 90px;
                }
                &.fa-angle-double-left{
                    left: 300px;
                }
            }

        }

    }
}

.sidebar-menu {
    .menu-accordion > li > a {

        padding-left: 0;
        text-align: center;
        width: $width1;
        font-size: 13px;
        .menu-text{
            display: block;
        }
    }
    .menu-accordion {
        li {
            .dropdown {
                &.hover-active{
                    width:210px !important;
                }
            }
        }
    }
}
.outer-wrapper-dropdown-active{
    .main-content-outer, .header-area .header-main-content{
        padding-left: $width1 + $width2 + 10px;
        @include breakpoint(max_md){
            padding-left: 0;
        }
    }
}
.header-main-content.fullscreen-content{
  padding-left: 0 !important;
  transition-duration: 1s, 1s, 1s, 1s;
  transition-delay: 0s, 1s, 1s, 1s;
}

.main-content-outer.fullscreen-content{
  padding-left: 0;
  transition-duration: 1s, 1s, 1s, 1s;
  transition-delay: 0s, 1s, 1s, 1s;
}
.nicescroll-rails.nicescroll-rails-vr{
    left: 100% !important;
}
.sidebar-menu ul .dropdown {
    // overflow: hidden;
    // display: none;
    padding-left: 0;
  //  margin-top: -40px;
    padding-top: 50px;
    padding-bottom: 15px;
    position: fixed;
    top:0;
    height: 100vh;
    left:$width1;
    background: #292F38;
    width:0;
    z-index: 10;
    overflow: hidden;
     transition: .3s;
     @include breakpoint(max_md) {
          left:-$width2;
     }
    // z-index: -1;
    li{
        padding:2px 0;
        a{
          padding:6px 12px;
          display: block;
          font-size: 14px;
          width:$width2 - 23px;
          font-weight: 400;
          display: flex;
          justify-content: space-between;

          .submenu-text{
              width:140px;
              text-overflow: ellipsis;
              overflow: hidden;
              display: inline-block;

          }
          .dropdown-menu-icon{
              // border: 1px solid $border;
              display: inline-block;
              // float: right;
              font-size: 10px;
              width: 20px;
              min-width: 20px;

              height: 20px;
              border-radius: 100%;
              text-align: center;
              line-height: 21px;
              margin-top: 0;
              background: $base;
              color: $white;
              transition: .3s;
          }
          &.active{
               background: transparent;
              // font-size: 16px;
              // font-weight: 500;
          }
          &.heading{
              background: #202830;
              font-size: 16px;
              //font-weight: 500;
              color: $white;
              padding-top: 7px;
              padding-bottom: 7px;
          }
          &:hover,&.active{
              .dropdown-menu-icon{
                  background: $white;
                  color: $base;
              }
          }

        }
    }
    // &.menu-show{
    //    display: block;
    //
    //    width: 200px;
    // }
}
.sidebar--large{

}
.header-dropdown .dropdown-backdrop{
    display: none;
}
.sidebar-menu {
  overflow: auto;
  position: relative;
  width: $width1;
  li{
      padding: 0px;
      // .menu-text{
      //   font-size: 16px;
      //   margin-left: 10px;
      // }
      a{
          padding:15px 0;
          font-size: 14px;
          line-height: 1.2;
          color:#929ba0;
          position: relative;
          width:$width1;
          white-space: nowrap;
          display: block;
          font-weight: 500;
          justify-content: space-between;
          .menu-text{
              width:$width1;
              overflow: hidden;
              text-overflow: ellipsis;

          }
          &:before{
              // position: absolute;
              // left:0;
              // right:0;
              // height:40px;
              // width: 3px;
              // left:0;
              // top:0;
              // content: '';
              // background: #33691E;
              // opacity: 0;
          }
         &.active{
             // &:before{
             //     opacity: 4;
             // }
         }
         &:hover,&:focus{
             color:$white;
             background: transparent;
             .sidebar-menu__icon{
               color: $white;
             }
         }
          &.active{
              background:$base;
              color:$white;
              &:hover{
                  background: $base;
              }
              .sidebar-menu__icon{
                color: $white;
              }
              // box-shadow: 0px 3px #757575;

            //   &:before{
            //       opacity: 1;
            //   }
          }

          &.has-submenu{
              position: relative;
              &:after{
                  content:"\f105";
                  float:right;
                  font-family: 'FontAwesome';
                  font-size:18px;
                  display: none;
              }
          }
      }
  }
  &__icon{
      font-size: 27px;
      width:40px;
      color:#929ba0;

      line-height: 1.5;
     // display: none;
      //padding-left: 15px;
  }
}

ul.menu-accordion {
  list-style: none;
  padding: 0;
}
//
// ul.menu-accordion .dropdown {
//   overflow: hidden;
//   display: none;
// }
.user-profile {
    min-height: 50px;
    padding: 5px 2px;
    position: relative;
    width: $width1;
    transition: 0.3s;
    overflow: hidden;
    // margin-left: 30px;
    text-align: center;
    &__avater {
        border: 2px solid #fff;
        max-width: 65px;
        transition: .3s;
    }
    &__photo {
        margin-top: 2px;
        display: inline-block;
        margin-bottom: 5px;
    }
    &__name,&__designation{
        transition: .3s;
        white-space: nowrap;
    }
}
/* -----------------------------------
** End Sidebar
-------------------------------------*/
 




 
