.table-content{
  display: block;
  flex: 1 0 auto;
  // flex-direction: column;
  .card{
    box-shadow: 0 10px 40px 0 rgba(18,106,211,.07), 0 2px 9px 0 rgba(18,106,211,.06);
    border: none;
    margin-bottom: 1.875rem;
    transition: all .3s ease;
    word-wrap: break-word;

    @include breakpoint(max_xs){
      width: 550px;
    }

    &__header{
      position: relative;
      padding: 15px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      background-color: transparent;
      min-height: 45px;
      font-size: 18px;
      @include breakpoint(max_xs){
        font-size: 25px;
      }
    }
    .card-body{
      flex: 1 1 auto;
      padding: 1.25rem;
      @include breakpoint(max_xs){
        font-size: 17px;
      }
      .dataTable_length{
        @include breakpoint(max_sm){
          margin-top:5px;
        }
        @include breakpoint(max_xs){
          font-size: 22px;
        }
          &__selectoption{
            margin:-5px 7px;
            @include breakpoint(max_xs){
              font-size: 18px;
              margin: 0px 0px;
              padding: 5px 25px 5px 3px;
            }
          }
      }
      .dataTable_filter{
        text-align: right;
        &__label-search{
            font-weight: 400;
            white-space: nowrap;
            display: inline-flex;
            font-size: 1.475rem !important;
            text-align: left;
            margin-top: 5px;
            margin-bottom: 20px;
            @include breakpoint(max_xs){
              font-size: 2.175rem !important;
            }
            input{
              position: relative;
              margin-left: .5em;
              width: auto;
              display: block;
              margin-top:-5px;
              transition: .3s;
              font-size: 15px;
              @include breakpoint(max_xs){
                margin-top: 0px;
              }
              &:focus{
                // width:350px;

              }
            }
        }
      }
    }
    .datatable_info{
      margin-top: 25px;
      font-size: 17px;
      font-weight: 500;
      @include breakpoint(max_xs){
        text-align: center;
        font-size: 22px;
      }
    }
    .dataTable_paginate{
      @include breakpoint(max_xs){
        text-align: center;
        font-size: 22px;
      }
      li{
        a{
          border: 0px;
        }
        a:hover{
          background: none;
        }
      }
      .active{
        a{
          border:0px !important;
          background: $base;
          border-radius: 50%;
        }
      }
    }
  }
}
.dataTables_filter{

    input{
        display: block;
        box-shadow: none;
        height: 40px;
        border:1px solid $border;
        margin-top: -9px;
        padding-left: 15px;
        width:300px;
    }
    label{
        //width:30%;
    }
}

.dataTables_wrapper .dataTables_paginate{
    .paginate_button {
        border:1px solid $border ;
        &.current,&:hover{
            background: $base;
            color: $white !important;
            border-color: $base;

        }
        &.current{
            &:hover{
                background: $base;
                color: $white !important;
                border-color: $base;
            }
        }
    }
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{

}
//second table scss code
.dataTables_length{
  float: left;
  font-size: 17px;
  margin-bottom: 10px;
  select{
    text-transform: none;
    margin: 0px 10px;
    padding: 1px 14px;
    background: transparent;
    border:1px solid $border;
  }
}
.dataTables_length{
  margin-bottom: 10px;
}
.table-content-second{
  padding:0px;
  &____card{
  &__card-body{
  }
}
  .card-body{
    .dataTables_wrapper{

    }
  }
  .datatable_info{

  }
  .dataTable_paginate{

  }
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    color: $black;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.same-height-table{
    tbody{
        display:block;
        overflow:auto;
        tr {

        }
    }
    thead tr, tbody tr,tfoot {
        display:table;
        width:100%;
        table-layout:fixed;/* even columns width , fix width of table too*/
    }
    thead {
        width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
    }

}

table>tbody>tr.selected{
  background-color: #FFFFCC !important;
}





//2nd  version  table  design scss

    .listing-table
        {
        font-size:12px;
        border:1px solid #F9F9F9;
        > thead{
            background: #f6f8fe1a;
            >tr{
                >th{
                  vertical-align:middle;
                  border:1px solid #f0f0f0;
                  padding:5px;
                  font-weight: 500;
                  color: #000 !important;
                  text-shadow: none;
                }
            }

        }
        tbody >tr{
            .actions a {
              display:none;
            }
            &:hover .actions a {
            display:inline-block;
            }
            >td {
                vertical-align:middle;
                border:1px solid #f0f0f0;
                padding:5px;
                .viewbox{
                    background:#e9f8e9;
                    border-radius:2px;
                    text-align:center;
                    vertical-align:middle;
                    color:green;
                    width:20px;
                    height:20px;
                    font-size:13px;
                }
                .editbox {
                     background:#fff5e7;
                     border-radius:2px;
                     text-align:center;
                     vertical-align:middle;
                     color:#cc8325;
                     width:20px;
                     height:20px;
                     font-size:13px;
                 }
                 .deletebox {
                      color:red;
                      background:#ffe4e3;
                      width:20px;
                      height:20px;
                      border-radius:2px;
                      text-align:center;
                      vertical-align:middle;
                      font-size:13px;
                  }
            }
            &:nth-of-type(2n+1){
                 background-color: #fbfbfb;
            }
        }

          .sr-no {
              border:1px solid #f0f0f0;
              padding:5px;
              a {
                color:#0091EA;
               }
          }
          .checkbox-wrap label{
            font-weight: 500;
            &::before {
              top: 3px;
            }
          }
          .mark-row{
            background:  #f3f3f3 !important;
            td{
                border-bottom: 1px solid #eee;
            }
          }
        .bootstrap-switch{
            .bootstrap-switch-handle-off{
                &.bootstrap-switch-default{
                    background-color: #00c851 !important;
                    color: #fff !important;
                }

            }
            .bootstrap-switch-handle-on{
                &.bootstrap-switch-primary{
                   background-color: #ff3547 !important;
                   color: #fff !important;
               }
            }
           &.bootstrap-switch-focused{
                box-shadow: none;
                border-color:#eee;
            }
        }

    }

 .listing-top-panel {
     .form-control{
       height: 32px;
       padding: 4px 12px;
   }
   .stylish-input-group {
       .input-group-addon{
          background: white !important;
           border-color:#E0E0E0;
           border-radius: 0;
       }
       .form-control{
           border-right:0;
           box-shadow:0 0 0;
           border-color:#E0E0E0;
           font-size: 13px;
            border-radius: 0;
       }
       button{
           border:0;
           background:transparent;
           border-radius: 0;
       }
   }
   .btn-reset {
       padding: 0 10px;
       height: 32px;
       min-width: 42px;
   }
   .bootstrap-select{
      width: auto !important;
   }
   button.dropdown-toggle{
       background: #fff;
       border:1px solid #E0E0E0;
       width: auto !important;
       color: #555;
   }
   .bootstrap-select.btn-group .dropdown-menu{
      min-width: inherit;
   }
   input{
        border-radius: 0;
        border:1px solid #E0E0E0;
        box-shadow: none;
        &:focus{
            box-shadow: none;
            border: 1px solid #0091EA;
        }
  }

 }

.table-pagination-area .pagination{
    margin: 0;
    > li > a{
   color: #000;
   padding: 4px 9px;
   }
   .active > a{
   background: #0091EA;
   border: 1px solid #0091EA;
   color: #fff;
   }

}

.info-panel{
    background-color: #d9edf7;
     color:  #31708f;
    border: 1px solid #bce8f1;
    font-weight: lighter;
    padding: 6px 10px;
    b{
        font-weight: 500;
        margin-left: 5px;
    }
}

.success-panel{
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid  #d6e9c6;
    font-weight: lighter;
    padding: 6px 10px;
    b{
        font-weight: 500;
        margin-left: 5px;
    }
}

.warning-panel{
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid  #faebcc;
    font-weight: lighter;
    padding: 6px 10px;
    b{
        font-weight: 500;
        margin-left: 5px;
    }
}
.danger-panel{
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid  #ebccd1;
    font-weight: lighter;
    padding: 6px 10px;
    b{
        font-weight: 500;
        margin-left: 5px;
    }
}
