{% extends 'sidebar.html' %}
{% load static %}
{% load custom_tags %}

{% block main_content %}
    <div class="main-content-outer no-padding-top">
        <div class="main-content-inner">
            <section class="pdb50">
                <div class="container-fluid">
                    <div class="pdt10 clearfix">
                        <h2 class="page-title mb30">
                            Add User
                        </h2>
                    </div>
                    <!-- start main table box -->
                    <div class="form-modal form-block">
                        <form method="post" action="{% url 'person:create_person' %}">
                            {% csrf_token %}
                            <div class="row">


                                {% for field in form %}
                                    <div class="col-md-12">
                                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            <!-- {{ field.label }} -->
                                            {{ field }}
                                            {% for error in field.errors %}
                                                <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}


                            </div>
                            <div class="action-footer mt15">
                                <button type="button" class="btn-reset" onclick="goBack()">
                                    Back
                                </button>
                                <button type="submit" class="btn base-bg">
                                    Save changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function goBack() {
            window.history.back();
        }

    </script>
{% endblock %}