{% extends 'sidebar.html' %}
{% load static %}
{% load custom_tags %}

{% block main_content %}
    <div class="main-content-outer no-padding-top">
        <div class="main-content-inner">
            <section class="pdb50">
                <div class="container-fluid">
                    <div class="pdt10 clearfix">
                        <h2 class="page-title mb30">
                            Users
                        </h2>
                    </div>
                    <!-- start main table box -->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table  table-striped  listing-table" id="branch-table">
                                    <thead>
                                    <tr>
                                        <th width="10">identification_number</th>
                                        <th>username</th>
                                        <th>mobile</th>
                                        <th>department</th>
                                        <th>user_roll</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for person in persons %}
                                        <tr>
                                            <th class="sr-no">{{ person.identification_number }}</th>
                                            <td>
                                                {{ person.user.username|default_if_none:'' }}
                                            </td>
                                            <td>
                                                {{ person.mobile|default_if_none:'' }}
                                            </td>
                                            <td>
                                                {{ person.get_department_display }}
                                            </td>
                                            <td>
                                                {{ person.get_user_roll_display }}
                                            </td>

                                            <td class="text-center actions">
                                                {#            <a href="{% url 'iss:setup_update_person' person.id %}" class="editbox animated  fadeIn"><i class="fa fa-pencil"></i></a> &nbsp;#}
                                                {#            <a href="#" class="deletebox animated  fadeIn fadeIn js-delete-branch"#}
                                                {#               data-url=""><i class="fa fa-trash"></i>#}
                                                {#            </a>#}
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="5" class="text-center  bg-warning fs15">
                                                No data found
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="table-pagination-area">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div>
                                            {% if persons.has_other_pages %}
                                                <ul class="pagination">
                                                    {% if persons.number == 1 %}
                                                        <li class="disabled"><span>⇤</span></li>
                                                    {% else %}
                                                        <li><a class="page-link"
                                                               href="?{% url_replace request 'page' 1 %}">⇤</a></li>
                                                    {% endif %}
                                                    {% if persons.has_previous %}
                                                        <li><a class="page-link"
                                                               href="?{% url_replace request 'page' persons.previous_page_number %}">&laquo;</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="disabled"><span>&laquo;</span></li>
                                                    {% endif %}
                                                    {% for i in persons.paginator|proper_paginate:persons.number %}
                                                        {% if persons.number == i %}
                                                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                                            </li>
                                                        {% else %}
                                                            <li><a class="page-link"
                                                                   href="?{% url_replace request 'page' i %}">{{ i }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if persons.has_next %}
                                                        <li><a class="page-link"
                                                               href="?{% url_replace request 'page' persons.next_page_number %}">&raquo;</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="disabled"><span>&raquo;</span></li>
                                                    {% endif %}
                                                    {% if persons.number == persons.paginator.num_pages %}
                                                        <li class="disabled"><span>⇥</span></li>
                                                    {% else %}
                                                        <li><a class="page-link"
                                                               href="?{% url_replace request 'page' persons.paginator.num_pages %}">⇥</a>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end main table box -->
                    <!-- start previous and next button -->

                    <!-- Modal start-->
                    <div class="modal fade form-modal" id="modal-form">
                        <div class="modal-dialog">
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script>
    </script>
{% endblock %}