{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_partial/head.html' %}
</head>

<body>
<!--[if lt IE 8]>
{#        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>#}
<![endif]-->

{#        {% if user|has_group:'provider' %}#}
{#            {% include 'provider_header.html' %}#}
{##}
{#        {% elif user|has_group:'employee' %}#}
{#            {% include 'customer_header.html' %}#}
{##}
{#        {% else %}#}
{#            {% include 'general_header.html' %}#}
{#        {% endif %}#}

{# ======================== Main Content Starts ==================================== #}
{% block content %}
{% endblock content %}
{# ======================== Main Content Ends  ==================================== #}

<!-- // End Footer  -->
{% include '_partial/footer_js.html' %}

{% block javascript %}

{% endblock javascript %}

</body>
</html>
