{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="outer-wrapper {% if request.resolver_match.url_name != 'dashboard' %} outer-wrapper-dropdown-active {% endif %} ">
        <div class="sidebar  ">
            <div class="sidebar__humbarger" id="sidebar__humbarger">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="sidebar__inner">
                <div class="sidebar-menu">
                    <ul class="nav panel-list menu-accordion">
                        {#                        <li>#}
                        {#                            <a href="{% url 'dashboard' %}" class="branding-top">#}
                        {#                                <span class="menu-text menu-text__overwrite">Project  <img#}
                        {#                                        src="{% static 'images/plus.svg' %}" alt="Plus"></span>#}
                        {#                            </a>#}
                        {##}
                        {#                        </li>#}
                        <li>
                            <a href="{% url 'dashboard' %}"
                               class=" {% if request.resolver_match.url_name == 'dashboard' %} active {% endif %}">
                                <i class="icon-icommon-home sidebar-menu__icon"></i>
                                <span class="menu-text menu-text__overwrite">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               class="{% if request.resolver_match.namespace == 'person' %} active {% endif %} has-submenu">
                                <i class="icon-icommon-iconlist sidebar-menu__icon"></i>
                                <span class="menu-text menu-text__overwrite">Users</span>
                            </a>
                            <div class="dropdown {% if request.resolver_match.namespace == 'person' %}menu-show {% endif %}">
                                <ul>
                                    <li>
                                        <a class="heading active" href="#">
                                            <span class="submenu-text">General Users</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="{% if request.resolver_match.url_name == 'person_list' %} active {% endif %}"
                                           href="{% url 'person:person_list' %}">
                                            <span class="submenu-text">User List</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="{% if request.resolver_match.url_name == 'create_person' %} active {% endif %}"
                                           href="{% url 'person:create_person' %}">
                                            <span class="submenu-text">Add User</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="{% if request.resolver_match.url_name == 'bulk_student_create' %} active {% endif %}"
                                           href="{% url 'person:bulk_student_create' %}">
                                            <span class="submenu-text">Add Bulk Student</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>


                    </ul>
                    <!-- Default dropup button -->
                    <div class="btm-setting dropup">
                        <a href="#" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="{% static 'images/avater.png' %}" width="40px" class="img-circle">
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"> <i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"
                                                                                  aria-hidden="true"></i>
                                Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="" class="angle-show">
                <i class="fa fa-angle-double-right"></i>
            </a>
        </div>
        {% include 'messages.html' %}
        {% block main_content %}

        {% endblock %}
    </div>
{% endblock %}
