{% load static %}

<!-- == Google maps == -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTje3iuLAYQmMK3153NzxMto6GNzkzuCE&callback&libraries=places&sensor=false"></script> -->
<!-- == Bootsrap js File == -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- == Select 2 == -->
<script src="{% static 'js/select2.min.js' %}"></script>
<!-- == Daterange == -->
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>

<!--timepicker-->
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<!-- jQuery Ui js-->
<script src="{% static 'js/jquery-ui-1.9.2.custom.min.js' %}"></script>
<!-- Chart js -->
<script src="{% static 'js/Chart.bundle.min.js' %}"></script>
{#<script src="{% static 'js/chart.min.js' %}"></script>#}
<!-- Datatables js -->
<script src="{% static 'js/datatables.min.js' %}"></script>
{#<script src="{% static 'js/utils.js' %}"></script>#}
<!-- Chart active js  -->

<!-- bootstrap seelct js -->
<script src="{% static 'js/bootstrap-select.min.js' %}">
</script>
<!-- bootstrap Switch js -->
<script src="{% static 'js/bootstrap-switch.js' %}"></script>

<!-- full calendar js -->
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/booking-calendar.js' %}"></script>
<!--toastr-->
<script src="{% static 'js/toastr.min.js' %}"></script>
<!-- == custom Js File == -->
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/lodash.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>


{#<script src="{% static 'js/employee_history.js' %}"></script>#}
{#<script src="{% static 'app_scripts/accounting/chart_of_account.js' %}"></script>#}


{% block javascript %}
{% endblock javascript %}
