{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Course Management{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ================= Favicon ================== -->
    {#    <link rel="icon" sizes="72x72" href="{% static 'images/favicon/favicon.ico' %}">#}
    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
          rel="stylesheet"> -->

    {#    <link rel="stylesheet" href="{% static 'css/poppins-font.css' %}">#}
    <!-- Font Awesome css-->

    {% block head %}

    {% endblock head %}

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- Bootsrap css-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pickr.min.css' %}" type="text/css" media="screen"/>

    <!-- Select2 -->
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <!-- FullCalender css-->
    <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">
    <!-- Bootstrap Date Range picker css-->
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
    <!--switch-->
    <link rel="stylesheet" href="{% static 'css/bootstrap-switch.css' %}">
    <!-- animation css link-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}"/>
    <!-- Bootstrap Select-->
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" />
    <!-- Style-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--toastr-->
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">

    {#    <link rel="stylesheet" href="{% static 'css/journal.print.css' %}">#}
    <!-- == jQuery Librery == -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>

    <style>
    table a{
      /* color: #337ab7 !important; */
      color: #337ab7;
    }
    .link-small{
      font-size: 12px;
    }
    </style>
